In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('house.csv')

In [3]:
df.shape

(4600, 18)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [5]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [6]:
df.head(10)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
5,2014-05-02 00:00:00,490000.0,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,Seattle,WA 98115,USA
6,2014-05-02 00:00:00,335000.0,2.0,2.00,1350,2560,1.0,0,0,3,1350,0,1976,0,2616 174th Ave NE,Redmond,WA 98052,USA
7,2014-05-02 00:00:00,482000.0,4.0,2.50,2710,35868,2.0,0,0,3,2710,0,1989,0,23762 SE 253rd Pl,Maple Valley,WA 98038,USA
8,2014-05-02 00:00:00,452500.0,3.0,2.50,2430,88426,1.0,0,0,4,1570,860,1985,0,46611-46625 SE 129th St,North Bend,WA 98045,USA
9,2014-05-02 00:00:00,640000.0,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,Seattle,WA 98115,USA

In [7]:
drop_data=['view','condition','waterfront','country']
df.drop(drop_data,inplace=True,axis=1)

In [8]:
df['date']=pd.to_datetime(df['date']).dt.date
df['date']

0       2014-05-02
1       2014-05-02
2       2014-05-02
3       2014-05-02
4       2014-05-02
           ...
4595    2014-07-09
4596    2014-07-09
4597    2014-07-09
4598    2014-07-10
4599    2014-07-10
Name: date, Length: 4600, dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   sqft_above     4600 non-null   int64
 8   sqft_basement  4600 non-null   int64
 9   yr_built       4600 non-null   int64
 10  yr_renovated   4600 non-null   int64
 11  street         4600 non-null   object
 12  city           4600 non-null   object
 13  statezip       4600 non-null   object
dtypes: float64(4), int64(6), object(4)
memory usage: 503.2+ KB

In [10]:
df['floors'].value_counts()

1.0    2174
2.0    1811
1.5     444
3.0     128
2.5      41
3.5       2
Name: floors, dtype: int64

In [11]:
floor=df['floors'].apply(np.ceil).value_counts()
floor

2.0    2255
1.0    2174
3.0     169
4.0       2
Name: floors, dtype: int64

In [12]:
df['price'].value_counts()

0.0         49
300000.0    42
400000.0    31
450000.0    29
440000.0    29
            ..
334500.0     1
189650.0     1
406500.0     1
833000.0     1
368112.5     1
Name: price, Length: 1741, dtype: int64

In [13]:
replace=df['price'].replace(0.0,np.NaN,inplace=True)

In [14]:
drop_null=df.dropna(inplace=True,axis=0)
drop_null

In [15]:
df['price'].value_counts()

300000.0     42
400000.0     31
450000.0     29
440000.0     29
600000.0     29
             ..
469900.0      1
2453500.0     1
487250.0      1
233000.0      1
368112.5      1
Name: price, Length: 1740, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4551 entries, 0 to 4599
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4551 non-null   object
 1   price          4551 non-null   float64
 2   bedrooms       4551 non-null   float64
 3   bathrooms      4551 non-null   float64
 4   sqft_living    4551 non-null   int64
 5   sqft_lot       4551 non-null   int64
 6   floors         4551 non-null   float64
 7   sqft_above     4551 non-null   int64
 8   sqft_basement  4551 non-null   int64
 9   yr_built       4551 non-null   int64
 10  yr_renovated   4551 non-null   int64
 11  street         4551 non-null   object
 12  city           4551 non-null   object
 13  statezip       4551 non-null   object
dtypes: float64(4), int64(6), object(4)
memory usage: 533.3+ KB

In [17]:
df['sqft_basement'].value_counts()

0       2718
500       53
600       44
800       42
900       39
        ...
70         1
4820       1
862        1
894        1
875        1
Name: sqft_basement, Length: 207, dtype: int64

In [18]:
df['yr_renovated'].value_counts()

0       2706
2000     169
2003     150
2009     107
2001     106
2005      94
2004      77
2014      72
2006      66
2013      61
1994      57
1923      55
1989      55
2011      54
2008      45
2012      45
1988      43
1983      40
2002      40
1993      39
1999      39
1998      39
1912      33
1979      32
1992      32
2010      30
1985      29
1997      28
1982      22
1996      21
1972      17
1990      16
1956      15
1963      12
1969      11
1970       9
1984       9
1968       9
1954       8
2007       7
1945       7
1934       6
1974       6
1971       5
1958       5
1986       5
1978       3
1980       2
1995       2
1955       2
1960       1
1977       1
1953       1
1981       1
1913       1
1987       1
1991       1
1948       1
1966       1
Name: yr_renovated, dtype: int64

In [19]:
drop_null=['sqft_basement','yr_renovated']
df.drop(drop_null,inplace=True,axis=1)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4551 entries, 0 to 4599
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         4551 non-null   object
 1   price        4551 non-null   float64
 2   bedrooms     4551 non-null   float64
 3   bathrooms    4551 non-null   float64
 4   sqft_living  4551 non-null   int64
 5   sqft_lot     4551 non-null   int64
 6   floors       4551 non-null   float64
 7   sqft_above   4551 non-null   int64
 8   yr_built     4551 non-null   int64
 9   street       4551 non-null   object
 10  city         4551 non-null   object
 11  statezip     4551 non-null   object
dtypes: float64(4), int64(4), object(4)
memory usage: 462.2+ KB

In [21]:
df['sqft_above'].value_counts()

1200    47
1010    47
1140    44
1320    43
1150    42
        ..
1341     1
3380     1
2238     1
3336     1
4110     1
Name: sqft_above, Length: 510, dtype: int64

In [22]:
df['sqft_lot'].value_counts()

5000     80
6000     64
4000     54
7200     49
4800     29
         ..
5003      1
50479     1
7054      1
913       1
4094      1
Name: sqft_lot, Length: 3087, dtype: int64

In [23]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,street,city,statezip
0,2014-05-02,313000.0,3.0,1.50,1340,7912,1.5,1340,1955,18810 Densmore Ave N,Shoreline,WA 98133
1,2014-05-02,2384000.0,5.0,2.50,3650,9050,2.0,3370,1921,709 W Blaine St,Seattle,WA 98119
2,2014-05-02,342000.0,3.0,2.00,1930,11947,1.0,1930,1966,26206-26214 143rd Ave SE,Kent,WA 98042
3,2014-05-02,420000.0,3.0,2.25,2000,8030,1.0,1000,1963,857 170th Pl NE,Bellevue,WA 98008
4,2014-05-02,550000.0,4.0,2.50,1940,10500,1.0,1140,1976,9105 170th Ave NE,Redmond,WA 98052

In [24]:
df.isna().sum()

date           0
price          0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_lot       0
floors         0
sqft_above     0
yr_built       0
street         0
city           0
statezip       0
dtype: int64

In [25]:
#data_dummy=pd.get_dummies(df,columns=['street','city','statezip','date'])
#data_dummy

In [26]:
#data_dummy.columns

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le=LabelEncoder()
data=df.select_dtypes(include='object').columns
data

Index(['date', 'street', 'city', 'statezip'], dtype='object')

In [29]:
for i in data:
    df[i]=le.fit_transform(df[i])
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,street,city,statezip
0,0,313000.0,3.0,1.50,1340,7912,1.5,1340,1955,1507,36,62
1,0,2384000.0,5.0,2.50,3650,9050,2.0,3370,1921,3853,35,58
2,0,342000.0,3.0,2.00,1930,11947,1.0,1930,1966,2267,18,26
3,0,420000.0,3.0,2.25,2000,8030,1.0,1000,1963,4216,3,7
4,0,550000.0,4.0,2.50,1940,10500,1.0,1140,1976,4305,31,31

In [30]:
#df1=df[['price','sqft_living','sqft_lot','sqft_above','street','yr_built']]

In [31]:
from sklearn.preprocessing import MinMaxScaler

In [32]:
#scaler=MinMaxScaler()
#scaled_data=scaler.fit_transform(df1)
#scaled_data=pd.DataFrame(scaled_data,columns=['price','sqft_living','sqft_lot','sqft_above','street','yr_built'])
#scaled_data.head()

In [33]:
#scaled_data.columns

In [34]:
df2=df.iloc[:,:]
scaler=MinMaxScaler()
df2[:]=scaler.fit_transform(df2[:])
df2.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,street,city,statezip
0,0.0,0.011481,0.333333,0.18750,0.073652,0.006775,0.2,0.107301,0.482456,0.336760,0.837209,0.815789
1,0.0,0.089391,0.555556,0.31250,0.249051,0.007835,0.4,0.331858,0.184211,0.861006,0.813953,0.763158
2,0.0,0.012572,0.333333,0.25000,0.118451,0.010534,0.0,0.172566,0.578947,0.506592,0.418605,0.342105
3,0.0,0.015507,0.333333,0.28125,0.123766,0.006885,0.0,0.069690,0.552632,0.942123,0.069767,0.092105
4,0.0,0.020397,0.444444,0.31250,0.119210,0.009186,0.0,0.085177,0.666667,0.962011,0.720930,0.407895

In [35]:
df2.columns

Index(['date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'sqft_above', 'yr_built', 'street', 'city', 'statezip'],
      dtype='object')

In [36]:

features=['date','bedrooms','bathrooms','sqft_living','sqft_lot','floors','sqft_above','yr_built','street','city','statezip']
df[features]

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,street,city,statezip
0,0.000000,0.333333,0.18750,0.073652,0.006775,0.2,0.107301,0.482456,0.336760,0.837209,0.815789
1,0.000000,0.555556,0.31250,0.249051,0.007835,0.4,0.331858,0.184211,0.861006,0.813953,0.763158
2,0.000000,0.333333,0.25000,0.118451,0.010534,0.0,0.172566,0.578947,0.506592,0.418605,0.342105
3,0.000000,0.333333,0.28125,0.123766,0.006885,0.0,0.069690,0.552632,0.942123,0.069767,0.092105
4,0.000000,0.444444,0.31250,0.119210,0.009186,0.0,0.085177,0.666667,0.962011,0.720930,0.407895
...,...,...,...,...,...,...,...,...,...,...,...
4595,0.985507,0.333333,0.21875,0.086560,0.005330,0.0,0.126106,0.473684,0.760670,0.813953,0.815789
4596,0.985507,0.333333,0.31250,0.082764,0.006460,0.4,0.120575,0.728070,0.211844,0.069767,0.078947
4597,0.985507,0.333333,0.31250,0.200456,0.005939,0.4,0.292035,0.956140,0.890726,0.744186,0.486842
4598,1.000000,0.444444,0.25000,0.130600,0.005581,0.0,0.077434,0.649123,0.771844,0.813953,0.934211
4599,1.000000,0.333333,0.31250,0.085042,0.006952,0.4,0.123894,0.789474,0.334972,0.209302,0.342105

In [37]:
target=df.columns[1]
target

'price'

In [38]:
target=['price']
df[target]

         price
0     0.011481
1     0.089391
2     0.012572
3     0.015507
4     0.020397
...        ...
4595  0.011300
4596  0.019808
4597  0.015390
4598  0.007358
4599  0.008005

[4551 rows x 1 columns]

In [39]:
from sklearn.linear_model import LinearRegression
lr_model=LinearRegression(fit_intercept=True)

In [40]:
x=df[features]
y=df['price']
lr_model=LinearRegression()
lr_model.fit(x,y)

LinearRegression()

In [41]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df[features],df[target],test_size=0.33,random_state=0)

In [42]:
print('x_train shape:',x_train.shape)
print('y_train shape:',y_train.shape)
print('x_test shape:',x_test.shape)
print('y_test shape:',y_test.shape)

x_train shape: (3049, 11)
y_train shape: (3049, 1)
x_test shape: (1502, 11)
y_test shape: (1502, 1)

In [43]:
from sklearn.linear_model import LinearRegression
lr_model=LinearRegression(fit_intercept=True)

In [44]:
lr_model.fit(x,y)

LinearRegression()

In [45]:
print('intercept:',lr_model.intercept_)
print('coefficient:',lr_model.coef_)

intercept: 0.01083035327242823
coefficient: [ 0.00121907 -0.02264369  0.02315296  0.13397445 -0.02995886  0.0020758
  0.00420419 -0.01301655  0.00034309  0.00403791 -0.00314851]

In [46]:
x_train.columns

Index(['date', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'sqft_above', 'yr_built', 'street', 'city', 'statezip'],
      dtype='object')

In [47]:
pd.DataFrame((lr_model.coef_).T,index=[x_train.columns],columns=['co-efficents'])

             co-efficents
date             0.001219
bedrooms        -0.022644
bathrooms        0.023153
sqft_living      0.133974
sqft_lot        -0.029959
floors           0.002076
sqft_above       0.004204
yr_built        -0.013017
street           0.000343
city             0.004038
statezip        -0.003149

In [48]:
y_train_pred=lr_model.predict(x_train)

In [49]:
y_train_pred[0:10]

array([0.01761868, 0.02168887, 0.00785511, 0.03084185, 0.01285427,
       0.03782006, 0.02665323, 0.01556945, 0.01425246, 0.00760071])

In [50]:
#print('x_test:',x_test.values.reshape(-1,1))
#print('y_test:',y_test.values.reshape(-1,1))
#y_test_pred=lr_model.predict(x_test)

In [51]:
y_test_pred=lr_model.predict(x_test)
y_test_pred

array([0.01370676, 0.02386089, 0.02122477, ..., 0.00717096, 0.01175141,
       0.02054389])

In [52]:
from sklearn import metrics

In [53]:
MAE_Train = metrics.mean_absolute_error(y_train,y_train_pred)
MAE_test = metrics.mean_absolute_error(y_test,y_test_pred)

In [54]:
MAE_Train

0.006453628072842971

In [55]:
MAE_test

0.005920969127857267

In [65]:
metrics.mean_squared_error(y_test,y_test_pred)

8.409977647712543e-05

In [79]:
rmse=metrics.mean_squared_error(y_train,y_train_pred)
rmse

0.0004786897302944342

len(df2)

In [68]:
np.sqrt(metrics.mean_squared_error(y_test,y_test_pred))

0.009170593027559636

In [69]:
np.sqrt(metrics.mean_squared_error(y_train,y_train_pred))

0.021878979187668565